body {
    font-family: Technoma, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #004D98;
}

.navbar {
    background-color: #EDBB00;
    color: black;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}


.card-container {
    position: relative;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #A50044;
    border: 20px solid #EDBB00;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#player-photo {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

#player-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.player-detail {
    margin: 5px 0;
}

.player-detail strong {
    font-size: 20px;
    font-weight: bold;
}

.player-detail span {
    font-size: 18px;
    font-weight: normal;
}

#word-to-guess {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    text-transform: uppercase;
}

#error-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin: 0 5px;
}

button {
    background-color: #FFED02;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FF4500;
}

.guess-container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guess-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.suggestions {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    text-align: left;
    z-index: 1000;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

#message {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    opacity: 0;
}

.message {
    animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.success {
    color: green;
}

.error {
    color: red;
}

.info {
    color: blue;
}
